{% extends "layout.html" %}
{% block weatherform %}
<div class="content-section">
    <form method="POST" action="" class="inline city-form">
        {{ form.hidden_tag() }}
        <fieldset class="form-group inline">
            <div class="form-group inline">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    {% block content %}{% endblock %}
</div>
{% endblock weatherform %}